* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Times New Roman", Times, serif;
}
body {
  background: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
}
html {
  font-size: 55%;
}
/* header */
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5d4037;
  padding: 1.5rem 3%;
  display: flex;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3.5rem;
  color: #f4f1ea;
  font-weight: 700;
}

#menu_icon {
  font-size: 4rem;
  color: #f4f1ea;
  cursor: pointer;
  position: absolute;
  right: 20px;
  margin: 0.5rem;
}
#menu_icon img {
  width: 40px;
  height: 40px;
}
#nav-menu {
  display: none;
  flex-direction: column;
  background-color: #5d4037;
  position: absolute;
  top: 100%;
  right: 0;
  width: 60%;
  padding: 2rem 0;
  z-index: 1000;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  animation: slideDown 0.3s ease-in-out;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#nav-menu a {
  padding: 1rem 4rem;
  color: #f4f1ea;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid #a8896c;
}
#nav-menu a:hover {
  color: #a8896c;
}
#nav-menu a:last-child {
  border-bottom: none;
}
#nav-menu.show {
  display: flex;
}
/* Home section */
#Home {
  padding: 10rem 9% 2rem;
  align-items: center;
  gap: 3rem;
  color: #5d4037;
  flex-direction: column;
}
.home-detail h1 {
  font-size: 5.5rem;
}
.home-detail h2 {
  font-size: 3.2rem;
  margin-top: -1rem;
}
.home-detail p {
  font-size: 2rem;
  margin: 1rem 0 2.5rem;
}
.home-detail button {
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 5.5rem;
  padding: 2rem 4.5rem;
  background-color: #5d4037;
  color: #fff;
  font-size: 25px;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.home-detail button a {
  color: #eadfdf;
}
.home-detail button:hover {
  background-color: #a8896c;
}
.home-detail .icons a {
  display: inline-flex;
  padding: 0.8rem;
  border: 0.2rem solid #543a3a;
  border-radius: 50%;
  font-size: 2rem;
  color: #5d4037;
  margin: 0.8rem;
}
.home-detail .icons a:hover {
  color: #a8896c;
  background-color: #5d4037;
}
.home-img .img-box {
  position: relative;
  width: 52vw;
  height: 52vw;
  border-radius: 50%;
  padding: 0.5rem;
}
.home-img .img-box .img-items {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.01rem solid #eadfdf;
  display: flex;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
}
.myphoto {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 15px rgba(0, 0, 0, 0.15);
}
.myphoto:hover {
  transform: scale(1.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 25px rgba(0, 0, 0, 0.3);
  filter: brightness(1.2);
}
/* About me */
.About-me-title {
  text-align: center;
  margin: 3rem;
  font-size: 30px;
  color: #5d4037;
}
.audio-icon {
  font-size: 30px;
  cursor: pointer;
  color: #0078d7;
}
.audio-icon:hover {
  color: #005bb5;
}
#About-me video {
  display: inline-block;
  margin: 1rem auto;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#About-me > div,
#Adventures > div {
  background-color: #f4f1ea;
  padding: 3rem;
  border-radius: 1.5rem;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  display: block;
  gap: 2rem;
}
#About-me > div > div,
#Adventures > div > div {
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eadfdf;
  flex-shrink: 0;
  width: 100%;
  transition: box-shadow 0.3s ease;
}
#About-me > div > div:hover,
#Adventures > div > div:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
#About-me h2 {
  font-size: 3rem;
  color: #5d4037;
  margin-bottom: 1rem;
  text-align: center;
}

#About-me h3 {
  font-size: 2.5rem;
  color: #5d4037;
  margin-bottom: 1rem;
  text-align: center;
}
.hobby {
  margin-bottom: 1.5rem;
}
#About-me h4 {
  font-size: 2rem;
  color: #543a3a;
  text-align: center;
  margin-bottom: 1.5rem;
}

#About-me video {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Flex container for the book grid */
.grid,
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
/* Group the first two books together */
.grid .image-container:nth-child(1),
.grid .image-container:nth-child(2) {
  flex: 1 1 calc(50% - 20px); /* Two books take 50% each */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Group the last two books together */
.grid .image-container:nth-child(3),
.grid .image-container:nth-child(4) {
  flex: 1 1 calc(50% - 20px); /* Two books take 50% each */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
#About-me .grid img {
  border-radius: 1rem;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

#About-me .grid img:hover {
  transform: scale(1.35);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#About-me p {
  font-size: 1.6rem;
  color: #5d4037;
  line-height: 1.8;
  margin-top: 2rem;
  text-align: justify;
}

#About-me .grid::-webkit-scrollbar {
  height: 8px;
}
#About-me .grid::-webkit-scrollbar-thumb {
  background: #a8896c;
  border-radius: 4px;
}
#About-me .grid::-webkit-scrollbar-track {
  background: #eadfdf;
}
.mybooks {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #543a3a;
  font-size: 1rem;
  font-weight: bold;
  background: #f4f1ea;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.image-container {
  position: relative;
}
#About-me .check-book {
  margin-top: 15px;
  color: #5d4037;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.video-container video {
  width: 100%;
  max-width: 500px;
  height: auto;
}
/* Adventures section*/
.Adventures-title {
  text-align: center;
  margin: 3rem;
  font-size: 30px;
  color: #5d4037;
}
#Adventures h2 {
  font-size: 3.5rem;
  color: #5d4037;
  text-align: center;
  margin-bottom: 1.5rem;
}
#Adventures h2 {
  font-size: 3.5rem;
  color: #5d4037;
  text-align: center;
  margin-bottom: 1.5rem;
}
#Adventures .grid img {
  width: 30%;
  max-width: 100%;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#Adventures .grid img:hover {
  transform: scale(1.5);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
#Adventures p {
  font-size: 1.6rem;
  color: #5d4037;
  line-height: 1.6;
  margin-top: 2rem;
  text-align: justify;
}
  .places-visited {
    margin-bottom: 1rem;
  }
.read-more {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background-color: #5d4037;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.read-more:hover {
  background-color: #a8896c;
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.images .grid img:nth-child(1),
.images .grid img:nth-child(2) {
  flex: 1 1 calc(50% - 20px);
}
.images .grid img:nth-child(3),
.images .video-c {
  flex: 1 1 calc(50% - 20px);
  margin-top: 20px;
}
.semien,
.royal {
  display: none;
}
.video-c {
  display: inline-block;
  width: 20%;
}
/* CV section */
#CV {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f1ea;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.CV-title {
  font-size: 3.5rem;
  color: #5d4037;
  text-align: center;
  padding-top: 1.5rem;
}
#CV > div {
  padding: 5px;
  background-color: #f4f1ea;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
}
#CV ul {
  list-style-type: none;
  width: 100%;
}
#CV li {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 350px;
  height: 200px;
}
#CV li:hover {
  transform: translateY(-10px);
}
#CV h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
#CV h3 {
  font-size: 18px;
  color: #543a3a;
}
#CV p em {
  font-size: 15px;
  font-style: italic;
  color: #543a3a;
}
#CV a {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background-color: #5d4037;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
#CV a:hover {
  background-color: #a8896c;
}
/* Contact-me section*/
#contact-me {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 20px auto;
  background-color: #f3f4f6;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
#contact-me a {
  color: #543a3a;
  text-decoration: underline;
}
#contact-me a:hover {
  font-weight: 600;
  color: black;
}
#contact-me .contact-info-container h2 {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact-me .contact-info-container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}
#contact-me .info-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
#contact-me .info-section div {
  background-color: #eadfdf;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#contact-me .info-section div:hover {
  transform: translateY(-10px);
}

#contact-me .info-section h3 {
  font-size: 26px;
  font-weight: 600;
  color: #333;
}
#contact-me .info-section p {
  font-size: 22px;
  color: #555;
}
#contact-me .info-section ul {
  padding: 5px;
}
.accounts ul {
  list-style: none;
}
#contact-me .info-section ul li {
  font-size: 24px;
}
#contact-me .contact-form-container h2 {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact-me .contact-form-container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}
#contact-me form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#contact-me .form-group {
  display: flex;
  flex-direction: column;
}
#contact-me .form-group label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}
#contact-me .form-group input,
#contact-me .form-group textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 12px;
}

#contact-me .form-group input:focus,
#contact-me .form-group textarea:focus {
  border-color: #543a3a;
  outline: none;
}

#contact-me .btn-submit {
  background-color: #5d4037;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#contact-me .btn-submit:hover {
  background-color: #a8896c;
}
/* footer */
footer {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer h3 {
  color: #5d4037;
}
footer .icons a {
  display: inline-flex;
  padding: 0.8rem;
  border: 0.2rem solid #543a3a;
  border-radius: 50%;
  font-size: 2rem;
  color: #5d4037;
  margin: 0.8rem;
}
footer .icons a:hover {
  color: #a8896c;
  background-color: #5d4037;
}
/* Media Queries for Responsiveness */

@media screen and (min-width: 799px) and (max-height: 1281px) {
  .home-img .img-box {
    margin-left: 20rem;
    width: 42vw;
    height: 42vw;
  }
  #contact-me .info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  #contact-me .info-section div {
    background-color: #eadfdf;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    transition: transform 0.3s ease-in-out;
  }
  .home-detail h1 {
    font-size: 6.5rem;
  }
  .home-detail h2 {
    font-size: 4.2rem;
    margin-top: -1rem;
  }
  .home-detail p {
    font-size: 3rem;
    margin: 1rem 0 2.5rem;
  }
  .home-img {
    align-items: flex-end;
  }
  #About-me > div {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    justify-content: space-between;
  }
  .grid,
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  /* Group the first two books together */
  .grid .image-container:nth-child(1),
  .grid .image-container:nth-child(2) {
    flex: 1 1 calc(50% - 20px); /* Two books take 50% each */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Group the last two books together */
  .grid .image-container:nth-child(3),
  .grid .image-container:nth-child(4) {
    flex: 1 1 calc(50% - 20px); /* Two books take 50% each */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #CV .twogrid {
    display: inline-block;
    flex-direction: row;
  }
  #CV {
    width: 100%;
    text-align: left;
  }
  /* Create a flex container for the sections */
  #CV > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Space out the two columns */
    flex-wrap: wrap; /* Allow the items to wrap on smaller screens */
  }
  /* Onegrid styling - these should be displayed together */
  .onegrid {
    flex: 1 1 48%; /* Take up 48% of the space */
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /* Two-grid styling - these should be separate */
  .twogrid {
    flex: 1 1 48%;
    flex-direction: row; /* Take up 48% of the space */
    margin-left: 10px;
    margin-bottom: 20px;
  }
  #About-me > div > div,
  #Adventures > div > div {
    width: 50%;
  }
  #Adventures > div {
    padding: 4rem;
    background-color: #f4f1ea;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: none;
  }
  #Adventures > div > div {
    flex: 1;
    background-color: #eadfdf;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: box-shadow 0.3s ease;
  }
  #Adventures > div > div:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  .semien,
  .royal {
    display: none;
  }
  footer {
    flex-direction: row;
    font-size: 2rem;
  }
}
@media (min-width: 811px) and (max-height: 376px) {
  #Home {
    padding: 3rem 2% 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }
  .home-img .img-box {
    margin-left: 0rem;
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 0.5rem;
  }
  .home-detail h1 {
    font-size: 3.5rem;
  }
  .home-detail h2 {
    font-size: 2.2rem;
    margin-top: -1rem;
  }
  .home-detail p {
    font-size: 1.5rem;
    margin: 1rem 0 2.5rem;
  }
  .grid .image-container {
    flex: 1 1 calc(25% - 20px); /* Each book takes 25% width */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #About-me .grid {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
  }

  #About-me .grid img {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  #About-me .grid img:hover {
    transform: scale(1.35);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  #About-me > div {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    justify-content: space-between;
  }

  #About-me > div > div,
  #Adventures > div > div {
    width: 50%;
  }
  .semien,
  .royal {
    display: none;
  }
  .grid {
    flex-wrap: nowrap;
  }
  #CV .twogrid {
    display: inline-block;
    flex-direction: row;
  }
  #CV {
    width: 100%;
    text-align: left;
  }

  /* Create a flex container for the sections */
  #CV > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Space out the two columns */
    flex-wrap: wrap; /* Allow the items to wrap on smaller screens */
  }
  /* Onegrid styling - these should be displayed together */
  .onegrid {
    flex: 1 1 48%; /* Take up 48% of the space */
    margin-right: 10px;
    margin-bottom: 20px;
  }

  /* Two-grid styling - these should be separate */
  .twogrid {
    flex: 1 1 48%;
    flex-direction: row; /* Take up 48% of the space */
    margin-left: 10px;
    margin-bottom: 20px;
  }

  /* Grid styling for each section */
  .grid ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #contact-me .info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  #contact-me .info-section div {
    background-color: #eadfdf;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    transition: transform 0.3s ease-in-out;
  }
  footer {
    font-size: 12px;
  }
  /* Styling for each list item */
  .grid ul li {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1279px) and (max-height: 801px) {
  /* Your styles for tablet landscape mode */
  html {
    font-size: 62.5%;
  }
  #menu_icon {
    font-size: 4rem;
    color: #f4f1ea;
    cursor: pointer;
    position: absolute;
    right: 60px;
    margin: 0.5rem;
  }
  #menu_icon img {
    width: 50px;
    height: 50px;
  }
  .home-img .img-box {
    margin-left: 0rem;
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 0.5rem;
  }
  header {
    padding: 2rem 9%;
  }
  #Home {
    padding: 10rem 9% 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    color: #5d4037;
  }
  .grid {
    flex-wrap: nowrap;
  }
  #CV > div {
    padding: 50px;
    background-color: #f4f1ea;
    margin: 20px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
  }
  #contact-me {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 20px auto;
    background-color: #f3f4f6;
    color: #333;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  #contact-me .info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  #contact-me .info-section div {
    background-color: #eadfdf;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    transition: transform 0.3s ease-in-out;
  }

  #Adventures > div {
    padding: 4rem;
    background-color: #f4f1ea;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: none;
  }
  #Adventures > div > div {
    flex: 1;
    background-color: #eadfdf;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: box-shadow 0.3s ease;
  }
  .semien,
  .royal {
    display: block;
  }
  #Adventures > div > div:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  #Adventures video {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #Adventures .grid {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  #Adventures .grid img {
    width: 30%;
    max-width: 100%;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  #Adventures .grid img:hover {
    transform: scale(1.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  #Adventures > div > div {
    flex: 1;
    background-color: #eadfdf;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: box-shadow 0.3s ease;
  }
  #Adventures > div > div:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  #nav-menu a {
    border-bottom: none;
  }
  .grid .image-container {
    flex: 1 1 calc(25% - 20px); /* Each book takes 25% width */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #About-me .grid {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
  }

  #About-me .grid img {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  #About-me .grid img:hover {
    transform: scale(1.35);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  #About-me > div {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    justify-content: space-between;
  }

  #About-me > div > div,
  #Adventures > div > div {
    width: 50%;
  }
  footer {
    flex-direction: row;
    font-size: 20px;
    margin: 3rem;
  }
  footer {
    padding: 5rem;
  }
}
@media (min-width: 1439px) and (max-height: 1025px) {
  html {
    font-size: 62.5%;
  }
  .home-img .img-box {
    margin-left: 0rem;
    width: 37vw;
    height: 37vw;
  }
  header {
    padding: 2rem 10%;
  }
  #Home {
    margin-top: 4rem;
  }
  .home-detail h2 {
    font-size: 5.5rem;
    margin-top: -1rem;
  }
  .home-detail p {
    font-size: 3.5rem;
    margin: 1rem 0 2.5rem;
  }
  .home-detail .icons a {
    display: inline-flex;
    padding: 0.8rem;
    border: 0.2rem solid #543a3a;
    border-radius: 50%;
    font-size: 2rem;
    color: #5d4037;
    margin: 3rem 0;
  }
  nav a {
    font-size: 2rem;
    color: #f4f1ea;
    font-weight: 500;

    margin-left: 3.5rem;
    transition: 0.5s;
  }
  nav a:hover {
    color: #a8896c;
  }
  #menu_icon {
    font-size: 4 rem;
    display: none;
  }
  #Home {
    padding: 10rem 9% 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    color: #5d4037;
  }
  .grid {
    flex-wrap: nowrap;
  }
  #CV > div {
    padding: 50px;
    background-color: #f4f1ea;
    margin: 20px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
  }
  #contact-me {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 20px auto;
    background-color: #f3f4f6;
    color: #333;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  #contact-me .info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  #contact-me .info-section div {
    background-color: #eadfdf;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    transition: transform 0.3s ease-in-out;
  }
  .logo {
    margin-right: 100px;
  }
  #nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0.5rem 0;
  }

  #Adventures > div {
    padding: 4rem;
    background-color: #f4f1ea;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: none;
  }
  #Adventures > div > div {
    flex: 1;
    background-color: #eadfdf;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: box-shadow 0.3s ease;
  }
  #Adventures > div > div:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  #Adventures video {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #Adventures .grid {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  #Adventures .grid img {
    width: 30%;
    max-width: 100%;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  #Adventures .grid img:hover {
    transform: scale(1.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  #Adventures > div > div {
    flex: 1;
    background-color: #eadfdf;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: box-shadow 0.3s ease;
  }
  #Adventures > div > div:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  #nav-menu a {
    border-bottom: none;
  }
  .grid .image-container {
    flex: 1 1 calc(25% - 20px); /* Each book takes 25% width */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #About-me .grid {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
  }

  #About-me .grid img {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  #About-me .grid img:hover {
    transform: scale(1.35);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  #About-me > div {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    justify-content: space-between;
  }

  #About-me > div > div,
  #Adventures > div > div {
    width: 50%;
  }
  footer {
    flex-direction: row;
    font-size: 28px;
    margin: 3rem;
  }
}
